@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 635px;
    background-color: #0EE1E1;
}

.b-icon {
    position: absolute;
    top: 63px;
    left: 65px;
    display: flex;
    width: 95px;
    height: 95px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.b-icon img {
    width: 50px;
    height: 50px;
}

.container-banner .content {
    display: flex;
    direction: rtl;
    width: 60%;
    height: 100%;
    justify-content: center;
    text-align: right;
    align-items: right;
    flex-direction: column;
    /*  padding-left: 25px;
    padding-right: 25px; */
}

.container-banner .content h1 {
    font-size: 66px;
    width: 425px;
    font: normal normal 900 66px/97px Heebo;
    text-align: right;
}

.container-banner .content p {
    font-size: 20px;
    width: 787px;
    font: normal normal normal 20px/29px Heebo;
}

.container-banner .banner-img {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

}

.container-banner .banner-img img {
    width: 325px;
    height: 268px;
}



/*Boxes Section*/

.container-boxes {
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    flex-direction: row;
    gap: 25px;
    padding: 40px;
}

.container-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 329px;
    width: 450px;
}

.container-boxes .box h1 {
    color: #0EE1E1;
    font: normal normal 900 30px/44px Heebo;
    margin-bottom: 10px;
    direction: rtl;
}

.container-boxes .box p {
    font: normal normal normal 15px/22px Heebo;
    width: 294px;
    direction: rtl;
}

.container-boxes .box .box-content img {
    width: 55px;
    height: 44px;
    margin-bottom: 25px;
}


/*Contact Section*/

.container-contact {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 940px;
    background-color: #F0FFFF;
}

.container-contact .container-form {
    width: 40%;
    height: 100%;
}

.container-contact .container-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: #0EE1E1;
}

.container-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 25px;
    top: 98px;
}

.form-content {
    display: flex;
    width: 52%;
    text-align: right;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
    align-items: right;
    margin-bottom: 15px;
}

.form-content h1 {
    font: normal normal 900 46px/67px Heebo;
    line-height: 2;
}

.form-content p {
    font: normal normal normal 15px/22px Heebo;
    width: 100%;
}

.form-control {
    display: flex;
    justify-content: center;
    text-align: right;
    width: 52%;
    flex-direction: column;
}

.form-control label {
    font: normal normal bold 13px/19px Heebo;
    color: #2C2C2C;
    line-height: 2.5;
}

.form-control input[type="text"],
.form-control input[type="email"] {
    width: 100%;
    height: 50px;
    background: #E5EEFF;
    border: 0;
    border-bottom: 5px solid #0EE1E1;
}

.form-control textarea {
    background: #E5EEFF;
    border: 0;
    border-bottom: 5px solid #0EE1E1;
    resize: none;
}

.form-control input[type="submit"] {
    height: 51px;
    background-color: #0EE1E1;
    border: 0;
    color: #000000;
    font: normal normal bold 20px/28px Heebo;
    margin-top: 15px;
    cursor: pointer;
}


/*footer Section*/

.container-footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    border-bottom: 18px solid #0EE1E1;
}

.container-footer .f-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    height: 100%;
}

.container-footer .f-icons .icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    background-color: #0EE1E1;
    border-radius: 50%;
    font-size: 35px;
    box-shadow: 0px 3px 6px #00000029;
}

/*Responsive Style*/

@media screen and (max-width: 768px) {

    /* Banner Section */
    .container-banner {
        position: relative;
        flex-direction: column-reverse;
        height: 390px;
        text-align: center;
        padding: 20px;
    }

    .b-icon {
        display: none;
    }

    .container-banner .content {
        width: 100%;
        height: 200px;
        align-items: center;
        padding: 0;
        margin-bottom: 15px;
    }

    .container-banner .content h1 {
        font-size: 33px;
        line-height: 2;
        width: 85%;
    }

    .container-banner .content p {
        font-size: 15px;
        width: 85%;
        line-height: 1.5;
    }

    .container-banner .banner-img {
        position: absolute;
        top: 30px;
        left: 28%;
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }

    .container-banner .banner-img img {
        width: 79px;
        height: 70px;
    }

    /* Boxes Section */
    .container-boxes {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;
        gap: 15px;
    }

    .container-boxes .box {
        width: 100%;
        background-color: #F8F8F8;
        height: 250px;
    }

    .container-boxes .box p {
        font-size: 14px;
        width: 243px;
    }

    /* Contact Section */
    .container-contact {
        flex-direction: column;
        min-height: 612px;
    }

    .container-contact .container-form {
        width: 100%;
        height: 613px;
        padding: 40px;
        top: 0;
    }

    .form-content {
        text-align: right;
        width: 100%;
    }

    .form-content h1 {
        font-size: 32px;
    }

    .form-content p {
        font-size: 15px;
    }

    .form-control {
        width: 100%;
    }

    .form-control input[type="text"],
    .form-control input[type="email"] {
        width: 100%;
        height: 37px;
        font-size: 14px;
        background-color: #fff;
    }

    .form-control textarea {
        width: 100%;
        background-color: #fff;
        height: 105px;
    }

    .form-control input[type="submit"] {
        font-size: 13px;
        height: 37px;
    }

    .container-contact .container-location {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        background-color: #0EE1E1;
    }

    .container-contact .container-location iframe {
        width: 85%;
        height: 85%;
    }

    label {
        font-size: 12px;
    }

    /* Footer Section */
    .container-footer {
        flex-direction: column;
        height: 175px;
        text-align: center;
        padding: 20px;
    }

    .container-footer .f-icons {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .container-footer .f-icons .icon-bg {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}